<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="clientSecret" value="" />
        <add key="clientId" value="" />
        <add key="userAgent" value="jack-henry-challenge-ehsan/1.0 by redwrx" />
        <add key="redditBaseAddress" value="https://www.reddit.com" />
        <add key="redditOAuthBaseAddress" value="https://oauth.reddit.com" />
        <add key="subreddits" value="gaming,pics,funny,AskReddit" />
    </appSettings>
</configuration>
